.side-link,
.side-link:focus,
.side-link:hover,
.side-link:visited,
.side-link:link,
.side-link:active {
  font-size: large;
  text-decoration: none;
  color: rgba(247, 247, 233, 1);
}

.side-link:hover {
  color : rgba(242, 187, 5);
}